

#header_dark {
    background-color: darkcyan;
}

#card_dark {
    background-color: darkcyan;
}

#body_dark {
    background-color: cadetblue;
}

#badges_dark {
    background-color: rosybrown;
}

#genres_dark {
    background-color: darkcyan;
}

#details_dark {
    background-color: cadetblue;
}